@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@200;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Megrim', cursive;
    font-family: 'Montserrat', sans-serif;
}

header {
    border: 2px solid cyan;
    margin: 10px;
    box-shadow: 0 0 5px 2px cyan;
    margin-bottom: 30px;
}

.logo {
    font-family: 'Megrim';
    text-align: center;
    font-size: 100px;
    color: aqua;
    margin: 0;
    filter: drop-shadow(0 2px 5px rgba(0, 255, 255, 5));
}

img {
    width: 100px;
}

img:hover {
    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 225, 225, 5));
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div:hover {
    filter: drop-shadow(0 2px 5px rgba(0, 225, 225, 5));
    box-shadow: 0 0 5px 2px cyan;
}

@media screen and (max-width:400px) {
    .logo {
        font-size: 50px;
    }

    img {
        width: 70px;
    }

    header {
        margin-bottom: 30px;
    }
}
