body{
    background: #000;
    font-family: 'Megrim';
}

.logo{
    font-family: 'Megrim';
    color: cyan;
    text-align: center;
    font-size: 100px;
    border: 5px solid cyan;
    border-radius: 20px;
    box-shadow: 3px 3px 50px -20px cyan;
    margin-right: 20px;
    margin-left: 20px;
}

.padre{
    text-align: center;
}

.hijo{
    margin: 0px auto;
}

.button{
    border: 3px solid white;
    border-radius: 50px;
    text-decoration: none;
    background: black;
    color: white;
    font-size: 25px;
    font-family: 'MuseoModerno';
    padding: 9px;
    padding-left: 25%;
    padding-right: 25%;
}

.button:hover{
    background: cyan;
    color: black;
    box-shadow: 3px 3px 30px 3px cyan;
    border: 1px solid cyan;
    transition: 0.20s;
}

div{
    margin-top: 39px;
}
.ok{
    text-align: center;
}

.lo{
    margin: 0px auto;
}

.portafolio{
    font-size: 30px;
    padding-left: 25%;
    padding-right: 25%;
    outline: none;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius:20px;
    font-family: 'MuseoModerno';   
}

.portafolio:hover{
    background-color: cyan;
    border: cyan;
    box-shadow: 3px 3px 30px 3px cyan;
    color: #000;
    cursor: pointer;
    transition: 0.20s;
    font-family: "fantasy";
}
